body {
    background-image: url(images/bgi.png);
}

#player {
    width: 33vmin;
    height: 33vmin;
    background-image: linear-gradient(black, white, black);
    /**margin-top: 50vh;
    transform: translateY(-16.5vmin); **/
    margin-top: calc(50vh - 16.5vmin);
    margin-left: calc(33vw - 16.5vmin);
    border-radius: 50%;
}

#player>.film {
    width: calc(41vmin * 8);
    transform: translateY(calc((33vmin - (33vmin * 0.6) - 4vmin) / 2)) translateX(calc(16.5vmin - 33vw));
    /** box-shadow: 2px 1px blueviolet; **/
    filter: drop-shadow(0 0 0.75rem blueviolet); 
    
}

#player .border {
    height: 2vmin;
    background-image: radial-gradient(transparent 50%, #0008 50.1%);
    background-size: 2vmin 2vmin;
}

#player .film .image {
    background-color: #0008;
    animation: theright 14s 5;
    

}

#player .film .image img {
    height: calc(33vmin * 0.6);
    margin-right: 0.5vmin;
    margin-bottom: -0.4vmin;
    opacity: 0.7;
}

#player .film .image img:hover {
    opacity: 1;
    
    
}


@keyframes theright {
        from {
            transform: translateY(calc((33vmin - (33vmin * 0.6) - 13vmin) / 2)) translateX(calc(16.5vmin - 33vw))
        }
    
        to {
        transform: translateY(calc((33vmin - (33vmin * 0.6) - 13vmin) / 2)) translateX(calc(16.5vmin - 80vw))
        }
    }
