/** de adaugat culorile 
    umbra gradient  
    **/

body {
    color: #65BF9E;
    font-size: 20px;
    /** 1em=20px **/
}

.section1 {
    height: 100vh;
    background-color: #333;
    z-index: -1;
}

.section2 {
    height: 100vh;
    background-color: #555;
    z-index: -1;
}

.nav-contact {

    position: fixed;
    bottom: 2em;
    right: 2em;
    overflow: hidden;
    z-index: 1;

}

.nav-contact a {
    font-size: 2em;
    background-color:#699EBF;
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    text-align: center;
    line-height: 3em;
    margin-bottom: 0.1em;
    text-decoration: none;
    color: #023059;
    box-shadow: inset 5px 5px 20px 4px #296CA6;
}

.nav-contact li:last-child a {
    margin-bottom: 0;
}

.nav-contact ul {
    transform: translateY(calc((3.1em * 3)* 2));
    transition: 0.5s;
   
}

#nav:target ul {
    transform: translateY(0);

}

.effect .circle {
    height: 4em;
    width: 4em;
    border: 0.1em solid #C2E0F2;
    border-radius: 50%;
    animation: effect 3s infinite;
}

@keyframes effect {
    from {
        transform: scale(1);
        opacity: 1
    }

    to {
        transform: scale(3);
        opacity: 0
    }

}

.effect {
    position: fixed;
    bottom: calc((2em + 3.8em)/ 2) ;
    right: calc((2em + 3.8em)/ 2);
    z-index: 0;

}